<button
      type="button"
      class="text-white bg-gradient-to-r to-blue-500 from-40% from-[var(--bg-color-1)] hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-blue-300 dark:focus:ring-blue-800 font-semibold rounded-sm text-inherit  px-5 py-3 text-center mb-2 "><slot></slot></button>