<section>
        
        <h1>Descubre como impular tus ventas a traves de interntet</h1>
        <button>Descarga nuestra guia</button>
</section>
<style scoped>
 section{
            display: flex;
            flex-direction: column;
            gap:4em;            
            width: 70%;
            color:var(--fg-color-1);
            button{
                width: 15em;
                padding: 10px 8px;
                border: solid 1px var(--fg-color-1);
                &:hover{
                    background: var(--fg-color-1);
                    color: var(--bg-color-2);
                }
            }
            h1{
                width: 70%;
                font-size: 35px;

            }         
</style>