---
interface Props{
    btnTittle:string,
    reverse:boolean
}
import PrimaryButton from "../components/controls/PrimaryButton.astro"


---
<section class=" px-10 flex flex-col py-7 md:flex-row-reverse w-full gap-28 ">        
    <main class="flex flex-col gap-16 w-full content-center justify-center">
    <slot name="title-bn" />
    <slot/>
        <div class="text-white ">
            <PrimaryButton>{Astro.props.btnTittle}</PrimaryButton>
        </div>
    </main>
    <aside class="my-auto w-full"><slot name="info-bn"/></aside>
</section>

 