---
import PrimaryButton from "./controls/PrimaryButton.astro";
---

<header
  class="relative flex flex-col content-center justify-center gap-28 md:flex-row  pb-24 py-24 md:max-w-[1127px] mx-auto"
>
  <main class="md:w-2/5 max-w-lg flex flex-col gap-12 mx-auto">
    <main class="flex justify-center gap-9">
      <ul class="list-image-[url(/checkmark-png-25979.png)]">
        <h1 class="text-2xl font-bold mb-11 capitalize">
          ¿Te encuentras lidiando con el desafío de aumentar la visibilidad y
          ventas de tu empresa?
        </h1>
        <p class="font-semibold text-[18px] mb-10">
          Nuestra guía te ofrece soluciones prácticas, enfocándonos en el arte
          de la simplicidad para maximizar tus resultados con menor esfuerzo.
          Totalmente gratis
        </p>
        <li class="my-4 text-[18px] ms-4">
          Como entender las acciones en redes sociales
        </li>
        <li class="my-4 text-[18px] ms-4">
          Como aumentar la visibilidad y ventas
        </li>
        <li class="my-4 text-[18px] ms-4">
          Como expandirte por medio de la web
        </li>
        <li class="my-4 text-[18px] ms-4">Como analizar y adaparte</li>
      </ul>
    </main>
  </main>
  <section class="my-auto xl:w-1/2 bg-[url()]">
    <!-- <img width="200px" src="avatar.png" alt="" /> -->
    <form class="max-w-lg mx-auto flex flex-col gap-6">
        <div class="grid md:grid-cols-2 md:gap-6">
            <div class="relative z-0 w-full mb-5 group">
              <input
                type="text"
                name="floating_first_name"
                id="floating_first_name"
                class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer"
                placeholder=" "
                required
              />
              <label
                for="floating_first_name"
                class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6"
                >Nombre</label
              >
            </div>
            <div class="relative z-0 w-full mb-5 group">
              <input
                type="text"
                name="floating_last_name"
                id="floating_last_name"
                class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer"
                placeholder=" "
                required
              />
              <label
                for="floating_last_name"
                class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6"
                >Apellido</label
              >
            </div>
          </div>
      <div class="relative z-0 w-full mb-5 group">
        <input
          type="email"
          name="floating_email"
          id="floating_email"
          class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer"
          placeholder=" "
          required
        />
        <label
          for="floating_email"
          class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6"
          >Correo</label
        >
      </div>
    
      <div class="relative z-0 w-full mb-5 group">
        <input
          type="tel"
          name="phone-number"
          id="phone-number"
          class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer"
          placeholder=" "
          required
        />
        <label
          for="phone-number"
          class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6"
          >Telefono:*</label
        >
      </div>
      <div class="grid md:grid-cols-2 md:gap-6">
        <div class="relative z-0 w-full mb-5 group">
          <input
            type="tel"
            pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}"
            name="floating_phone"
            id="floating_phone"
            class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer"
            placeholder=" "
            required
          />
          <label
            for="floating_phone"
            class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6"
            >Telefono Comercial :</label
          >
        </div>
        <div class="relative z-0 w-full mb-5 group">
          <input
            type="text"
            name="floating_company"
            id="floating_company"
            class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer"
            placeholder=" "
            required
          />
          <label
            for="floating_company"
            class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6"
            >Nombre de Empresa</label
          >
        </div>
      </div>
      <div class="text-lg text-white *:uppercase *:w-full *:rounded-lg">
        <PrimaryButton>Solicitar Guia Gratis</PrimaryButton>
      </div>
      
      <p><span class="text-xs">Al enviar este formulario, acepta recibir información de Tecnovedades relacionada con nuestros productos, eventos y ofertas especiales. Puede darse de baja de dichos mensajes en cualquier momento. Nunca vendemos sus datos y valoramos sus opciones de privacidad. Consulte nuestra <a href="https://tecnovedadesweb.com/politica-de-privacidad/" class="underline text-[var(--fg-color-2)]">Política de privacidad </a>para obtener información.</span></p>
    </form>
  </section>
</header>

<style>
  h1 {
    font-family:
      -apple-system,
      BlinkMacSystemFont,
      Segoe UI,
      Roboto,
      Oxygen,
      Ubuntu,
      Cantarell,
      Fira Sans,
      Droid Sans,
      Helvetica Neue,
      sans-serif;
    box-sizing: border-box;
    margin-top: 0;
    font-weight: 600 !important;
    color: #000 !important;
    margin-bottom: 24px;
    line-height: 1.1;
    font-size: 40px;
  }
</style>
